<div>
    <h2 data-translate="atolyeApp.maintainInstance.home.title">Maintain Instances</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="maintain-instance-app.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="atolyeApp.maintainInstance.home.createLabel">
                        Create new Maintain Instance
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'atolyeApp.maintainInstance.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="atolyeApp.maintainInstance.name">Name</span></th>
                    <th><span data-translate="atolyeApp.maintainInstance.comment">Comment</span></th>
                    <th><span data-translate="atolyeApp.maintainInstance.price">Price</span></th>
                    <th><span data-translate="atolyeApp.maintainInstance.priceSecond">Price Second</span></th>
                    <th><span data-translate="atolyeApp.maintainInstance.doneBy">Done By</span></th>
                    <th><span data-translate="atolyeApp.maintainInstance.operation">Operation</span></th>
                    <th><span data-translate="atolyeApp.maintainInstance.maintenance">Maintenance</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="maintainInstance in vm.maintainInstances track by maintainInstance.id">
                    <td><a ui-sref="maintain-instance-app-detail({id:maintainInstance.id})">{{maintainInstance.id}}</a></td>
                    <td>{{maintainInstance.name}}</td>
                    <td>{{maintainInstance.comment}}</td>
                    <td>{{maintainInstance.price}}</td>
                    <td>{{maintainInstance.priceSecond}}</td>
                    <td>
                        <a ui-sref="employee-app-detail({id:maintainInstance.doneBy.id})">{{maintainInstance.doneBy.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="operation-app-detail({id:maintainInstance.operation.id})">{{maintainInstance.operation.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="maintenance-app-detail({id:maintainInstance.maintenance.id})">{{maintainInstance.maintenance.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="maintain-instance-app-detail({id:maintainInstance.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="maintain-instance-app.edit({id:maintainInstance.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="maintain-instance-app.delete({id:maintainInstance.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
