
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCarLabel" data-translate="atolyeApp.car.home.createOrEditLabel">Create or edit a Car</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.car.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.car.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="atolyeApp.car.plate" for="field_plate">Plate</label>
            <input type="text" class="form-control" name="plate" id="field_plate"
                    ng-model="vm.car.plate"
                    required/>
            <div ng-show="editForm.plate.$invalid">
                <p class="help-block"
                    ng-show="editForm.plate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="atolyeApp.car.chaseNo" for="field_chaseNo">Chase No</label>
            <input type="text" class="form-control" name="chaseNo" id="field_chaseNo"
                    ng-model="vm.car.chaseNo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="atolyeApp.car.km" for="field_km">Km</label>
            <input type="number" class="form-control" name="km" id="field_km"
                    ng-model="vm.car.km"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="atolyeApp.car.latestOilChangeKm" for="field_latestOilChangeKm">Latest Oil Change Km</label>
            <input type="number" class="form-control" name="latestOilChangeKm" id="field_latestOilChangeKm"
                    ng-model="vm.car.latestOilChangeKm"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="atolyeApp.car.lastVisit" for="field_lastVisit">Last Visit</label>
                <div class="input-group">
                    <input id="field_lastVisit" type="text" class="form-control" name="lastVisit" datetime-picker="{{dateformat}}" ng-model="vm.car.lastVisit" is-open="vm.datePickerOpenStatus.lastVisit"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastVisit')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="atolyeApp.car.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" ng-model="vm.car.company" ng-options="company as company.name for company in vm.companies track by company.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="atolyeApp.car.model" for="field_model">Model</label>
            <select class="form-control" id="field_model" name="model" ng-model="vm.car.model" ng-options="carModel as carModel.name for carModel in vm.carmodels track by carModel.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="atolyeApp.car.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="vm.car.customer" ng-options="customer as customer.name for customer in vm.customers track by customer.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
